section.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff center;
  padding-top: 35px;
  padding-bottom: 35px;
  border: 1px solid #4caf50;
}

select {
  padding: 5px 20px;
  width: 100%;
  line-height: 25px;
  margin: 10px 0;
  border: 1px solid #5c4343;
}

button {
  padding: 5px 20px;
  width: 200px;
  line-height: 25px;
  background-color: #4caf50;
  border: none;
  color: white;
}
