/* Site Header */

.site-header {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background: color(var(--white)) no-repeat center center;
  background-size: cover;
  border-bottom: 1px solid #ebebeb;
}

.site-header.no-cover:before,
.site-header.no-cover:after {
  display: none;
}

.site-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  height: 10vh;
  padding: 0 4vw;
  text-align: center;
}

.site-title {
  z-index: 10;
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 3.8rem;
  font-weight: 700;
}

.site-logo {
  max-height: 45px;
}

.site-description {
  z-index: 10;
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  /* change to 16px 700 weight here */
  font-weight: 300;
  letter-spacing: 0.5px;
  color: var(--midnightblue);
}

@media (max-width: 500px) {
  .site-title {
    font-size: 3rem;
  }
  .site-description {
    font-size: 1.8rem;
  }
}
